:root {
  --md-primary-fg-color:        #072180;
}
.md-typeset a, .md-typeset a::before {
	color: #078bff;
}
.md-nav__item .md-nav__link--active {
        color: #078bff;
}
[data-md-color-scheme="slate"] {
        --md-default-bg-color: #02103a;
}
.md-typeset table:not([class]) {
	background-color: #00175e;
}

.md-typeset table:not([class]) th {
	color: #fff;
	background-color: #0b0d93;
}
.md-typeset table:not([class]) thead {
	background-color: #0004ff;
}
.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
	color: #c9edff;
}
p {
	color: #eaeaea;
}
.center {
    display: block;
    margin: 0 auto;
}
